body {
    font-family: 'PT Sans',sans-serif;
}

.card,.description,img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.card {
    width: 20em;
    padding: .75em;
}

h3 {
    font-size: 2em;
    margin: 0;
}

.description {
    padding: 0;
    padding: .5em .75em;
    margin-top: .75em;
}

.card img {
    width: 100%;
    margin: auto;
    display: block;
}

p,ul {
    margin: .5em 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.fun-fact,li {
    font-style: italic;
}

.key {
    font-weight: 700;
    font-style: normal;
}
